  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

  .container {
      font-family: 'Noto Sans JP', sans-serif;
      display: grid;
      grid-template: "header"10% "main"86% "footer"1% /100%;
      height: 94vh;
  }

  .background {
      grid-area: main;
      background-image: url('./images/vaccineblue.jpg');
      background-size: cover;
      background-repeat: no-repeat;

  }

  .footer {
      display: grid;
      grid-template: "aboutus""faq""contactus""privacy"/ 25% 25% 25% 25%;
      text-align: center;
      font-size: 23px;

  }

  .header {
      display: grid;
      grid-template: "vancouver""province""lang"/25% 50% 25%;
      grid-area: header;
      font-size: 25px;
  }

  .vch {
      float: left;
      width: 205px;
  }

  .language {
      text-align: right;
      margin-right: 20%;
  }

  .bc {
      width: 100px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5px;
  }


  @media screen and (max-width: 600px) {
      .bc {
          display: none;
      }

      .language {
          text-align: right;
          margin-right: -10px;
      }

      .footer {
          font-size: 19px;
      }
  }